<div class="container">
	<table class="console-table">
		<tr>
			<td>
				Количество постов:
			</td>
			<td>
				<%= @posts_count %>
			</td>
		</tr>
		<tr>
			<td>
				Количество слайдов в слайдере:
			</td>
			<td>
				<%= @slider_items_count %>
			</td>
		</tr>
		<tr>
			<td>
				Количество сообщений:
			</td>
			<td>
				<%= @messages_count %>
			</td>
		</tr>
	</table>
</div>
