
      <%= image_tag(@post.image_url.to_s, :class => 'post-image') %>
      <span class="date-show-post"><%= @post.created_at.to_formatted_s(:short)%></span>
      <br>
      <span class="text"><%= raw(@post.text) %></span>
