<h1>My info</h1>
<% if session[:user_id] %>
	<%= link_to('Изменить', edit_slider_item_path(@slider_item.id))%>
	<%= link_to('Удалить', delete_slider_item_path(@slider_item.id))%>
<% end %>
<div class="slider-block">
	<div class="text"><%= @slider_item.text %></div>
	<%= image_tag(@slider_item.image_url.to_s) %>
</div>
