// Place all the styles related to the SliderItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.slider-block {
		background-color: #ebf5ee;
		padding: 20px;
		margin-top: 20px;
		border-radius: 15px;
	img {
		width: 100%;
	}
	.text {
		position: absolute;
		text-align: center;
		font-family: 'Calibril';
		left: 38%;
		color: white;
		transform: translateY(-50%);
    font-size: 58px;
    top: 58%;
	}
}
.slider_item.new table {
	width: 100%;
	margin: 0 auto;
	td {
		min-height: 30px;
		padding: 5px;
		text-align: left;
		vertical-align: top;
	}
	textarea {
		width: 100%;
	}
	input {
		width: 100%;
	}
}
